.expenses {
    padding: 1rem;
    background-color:#7882A4 ;
    margin: 2rem auto;
  }

  .new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  .new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color:white;
  }

  .new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }

  .new-expense__actions {
    text-align: right;
  }

  .new-expense__actions button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #383e42;
    background-color: #383e42;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .new-expense__actions button:hover,
  .new-expense__actions button:active {
    background-color: #464e53;
    border-color: #464e53;
  }

  h1{
    color: white;
  }